In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("DienThoai.csv")
data.head(3)

,Type,Title,Link,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Return,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,Điện thoại OPPO FIND N3 (16GB/512GB) - Hàng ch...,https://www.lazada.vn/products/dien-thoai-oppo...,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,30 Ngày Trả Hàng Miễn Phí,99%,100%,75%,['0'],['0'],['0'],['0'],['0']
1,dien thoai,[Trả góp 0%] Apple iPhone 15 Pro 1TB Chính hãn...,https://www.lazada.vn/products/tra-gop-0-apple...,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,30 Ngày Trả Hàng Miễn Phí,99%,100%,85%,['0'],['0'],['0'],['0'],['0']
2,dien thoai,Điện thoại Samsung Galaxy S24 Ultra 12GB/1TB -...,https://www.lazada.vn/products/dien-thoai-sams...,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,30 Ngày Trả Hàng Miễn Phí,90%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['2']

In [3]:
#Check missing value
data.isnull().sum().sort_values(ascending=False)

Total_sold        684
Sale_off          667
Preview           665
Return            663
Price_original    268
Ship_price        175
Chat_response       8
Sale_rating         8
Ship_on_time        8
Four_star           0
Three_star          0
Two_star            0
One_star            0
Type                0
Title               0
Location            0
Price_sale          0
Link                0
Five_star           0
dtype: int64

- Remove the columns **Title** & **Link** because they are not necessary.
- Remove columns **Return** because:
    * it has too many NULL values, nearly 50% of the total data.
    * it is not relevant to the hypothesis being used.

In [4]:
#Drop Title, Link, Return
new_data = data.drop(columns=['Title', 'Link', 'Return'], axis=1)
new_data.head(3)

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,99%,100%,75%,['0'],['0'],['0'],['0'],['0']
1,dien thoai,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,99%,100%,85%,['0'],['0'],['0'],['0'],['0']
2,dien thoai,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,90%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['2']

In [5]:
#Display the unique values of columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['99%' '90%' '98%' '91%' '94%' '92%' '97%' 'Không đủ thông tin' '100%'
 '95%' '87%' '82%' '79%' '96%' 'Nhà bán hàng mới' '93%' '88%' '85%' '83%'
 nan '75%']

['100%' 'Không đủ thông tin' '82%' '99%' '98%' '68%' '80%' '75%' '83%'
 '95%' '33%' '91%' '96%' '28%' nan '66%' '50%' '57%' '81%' '25%' '55%'
 '78%' '85%' '14%']

['75%' '85%' '100%' '90%' '95%' '87%' '33%' 'Không đủ thông tin' '50%'
 '97%' '91%' '76%' '80%' '66%' '99%' '83%' '88%' '71%' '92%' '40%' '86%'
 '60%' nan '96%' '94%' '98%' '78%' '89%' '57%' '73%' '37%' '93%']

In [6]:
new_data['Sale_rating'].replace(['Nhà bán hàng mới', 'Không đủ thông tin'], np.nan, inplace=True)
new_data['Ship_on_time'].replace(['Không đủ thông tin'], np.nan, inplace=True)
new_data['Chat_response'].replace(['Không đủ thông tin'], np.nan, inplace=True)

In [7]:
#Check columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['99%' '90%' '98%' '91%' '94%' '92%' '97%' nan '100%' '95%' '87%' '82%'
 '79%' '96%' '93%' '88%' '85%' '83%' '75%']

['100%' nan '82%' '99%' '98%' '68%' '80%' '75%' '83%' '95%' '33%' '91%'
 '96%' '28%' '66%' '50%' '57%' '81%' '25%' '55%' '78%' '85%' '14%']

['75%' '85%' '100%' '90%' '95%' '87%' '33%' nan '50%' '97%' '91%' '76%'
 '80%' '66%' '99%' '83%' '88%' '71%' '92%' '40%' '86%' '60%' '96%' '94%'
 '98%' '78%' '89%' '57%' '73%' '37%' '93%']

In [8]:
# Hàm để loại bỏ ký tự không mong muốn và lấy giá trị bên trong
def extract_number(val):
    if isinstance(val, str):
        return val.strip("[]'")  # loại bỏ các ký tự không mong muốn
    return val

# Áp dụng hàm extract_number cho từng cột
for column in new_data.columns[11:16]:
    new_data[column] = new_data[column].apply(extract_number)

In [9]:
new_data

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,dien thoai,41.990.000 ₫,7% Off,11 Đã bán,NaN,Hồ Chí Minh,44.990.000 ₫,20.100 ₫,99%,100%,75%,0,0,0,0,0
1,dien thoai,39.890.000 ₫,10% Off,NaN,NaN,Hà Nội,44.490.000 ₫,38.000 ₫,99%,100%,85%,0,0,0,0,0
2,dien thoai,37.590.001 ₫,16% Off,24 Đã bán,(2),Hồ Chí Minh,44.490.000 ₫,NaN,90%,NaN,100%,0,0,0,0,2
3,dien thoai,36.990.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,16.500 ₫,98%,82%,100%,0,0,0,0,0
4,dien thoai,32.126.000 ₫,NaN,28 Đã bán,(1),Hồ Chí Minh,38.470.000 ₫,18.300 ₫,98%,100%,100%,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,dien thoai,8.490.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,9.990.000 ₫,Miễn phí,97%,100%,33%,0,0,0,0,0
1196,dien thoai,8.490.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
1197,dien thoai,8.490.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,8.990.000 ₫,18.300 ₫,85%,NaN,100%,0,0,0,0,0
1198,dien thoai,8.490.000 ₫,NaN,NaN,NaN,Đà Nẵng,9.990.000 ₫,Miễn phí,97%,100%,NaN,0,0,0,0,0
1199,dien thoai,8.480.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,8.990.000 ₫,Miễn phí,97%,100%,33%,0,0,0,0,0

In [10]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            1200 non-null   object
 1   Price_sale      1200 non-null   object
 2   Sale_off        533 non-null    object
 3   Total_sold      516 non-null    object
 4   Preview         535 non-null    object
 5   Location        1200 non-null   object
 6   Price_original  932 non-null    object
 7   Ship_price      1025 non-null   object
 8   Sale_rating     1077 non-null   object
 9   Ship_on_time    804 non-null    object
 10  Chat_response   1081 non-null   object
 11  One_star        1200 non-null   object
 12  Two_star        1200 non-null   object
 13  Three_star      1200 non-null   object
 14  Four_star       1200 non-null   object
 15  Five_star       1200 non-null   object
dtypes: object(16)
memory usage: 150.1+ KB

In [11]:
#Convert to csv
new_data.to_csv("Preprocessing_DienThoai.csv", index=False)