In [1]:
import pandas as pd
import numpy as np

In [2]:
#List of CSV file to combined
csv_files = [
    #Thoi trang
    'quanaollms.csv',
    'giaydepllms.csv',
    'Data_Jewelry_After_LLMs.csv',

    #Dien tu
    'LLM_DienThoai.csv',
    'Data_Laptop_After_LLMs.csv',
    'LLM_Tivi.csv'
]

#Read and combine CSV files into a DataFrame
data_final = pd.concat([pd.read_csv(file) for file in csv_files])
#Reset index
data_final.reset_index(drop=True, inplace=True)
data_final.index = np.arange(1, len(data_final)+1)

In [3]:
data_final

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
1,quần áo,35891,64.0,3000.0,1022.0,Hồ Chí Minh,100000.0,16500.0,97.0,100.0,100.0,20.0,7.0,27.0,36.0,932.0
2,quần áo,25000,50.0,907.0,241.0,Hồ Chí Minh,71998.0,16500.0,91.0,100.0,50.0,5.0,2.0,6.0,7.0,222.0
3,quần áo,79000,43.0,961.0,260.0,Hà Nội,139000.0,32700.0,92.0,99.0,33.0,11.0,8.0,8.0,16.0,218.0
4,quần áo,36000,60.0,102.0,21.0,Nam Định,189000.0,37700.0,94.0,100.0,83.0,1.0,0.0,1.0,1.0,18.0
5,quần áo,15971,54.0,219.0,68.0,Hà Nội,59000.0,32700.0,95.0,100.0,100.0,0.0,1.0,0.0,3.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,tivi,5390000,34.0,9.0,Ho Chi Minh,5590000,0.0,96.0,100,100.0,2.0,0.0,0.0,0.0,7.0,NaN
7197,tivi,2730000,NaN,NaN,NaN,Ho Chi Minh,NaN,38000.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
7198,tivi,6150000,NaN,NaN,NaN,Ho Chi Minh,9990000.0,NaN,97,98.0,89.0,0.0,0.0,0.0,0.0,0.0
7199,tivi,4250000,NaN,NaN,NaN,Ha Noi,4990000.0,135500.0,100,40.0,NaN,0.0,0.0,0.0,0.0,0.0
7200,tivi,2650000,NaN,NaN,NaN,Ho Chi Minh,NaN,45100.0,100,NaN,50.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#Sau khi chạy model LLM, sẽ có những dòng bị lệch dữ liệu, vì LLM không chính xác 100%
data_final['Location'].unique()

array(['Hồ Chí Minh', 'Hà Nội', 'Nam Định', 'Nước ngoài', 'Tiền Giang',
       'Cần Thơ', 'Hà Nam', 'Trà Vinh', 'Thanh Hóa', 'Hưng Yên',
       'Long An', 'Bến Tre', 'Phú Thọ', 'Lâm Đồng', 'Đồng Nai',
       'Hải Dương', 'Cà Mau', 'Bắc Giang', 'Quảng Ngãi', 'Tây Ninh',
       'Bình Định', 'Phú Yên', 'Bình Dương', 'Bắc Ninh', 'Đà Nẵng',
       'Vĩnh Phúc', 'Ho Chi Minh', 'Ha Noi', 'Hai Duong', 'Nghệ An',
       'Binh Duong', 'Hung Yen', 'Hai Phong', 'Da Nang', 'An Giang',
       'Bac Ninh', 'Ben Tre', 'Vinh Phuc', 'Nam Dinh', 'Tien Giang',
       '4690000', 'Dak Nong', '33990000', '32990000', '35990000',
       '30490000', '22990000', '17990000', 'Thai Binh', '14890000',
       '21990000', '10990000', '11490000', '10490000', '7230000',
       '8500000', '6490000', '5490000', '5750000', '5290000', '4890000',
       '4990000', '7290000', 'Dak Lak', '3990000', '24990000', 'Hanoi',
       'Dong Nai', 'Thai Nguyen', 'Quang Tri', 'Thanh Hoa', 'Tay Ninh',
       'Nuoc Ngoai', 'Phu Tho', 'Nuoc ngai', 'Thua Thien Hue',
       'Thái Bình', 'Dong Thap', 'Ha Tinh', '2500000', 'Phu Yen',
       '19400000', '15900000', '11400000', '13990000', 'Ba Ria Vung Tau',
       '14690000', '14790000', '20490000', 'Bac Giang', 'Vinh Long',
       'Quang Nam', '5590000'], dtype=object)

In [5]:
#Lọc những dòng bị lệch và xóa nó  
drop_row = data_final[data_final['Location'].isin(['4690000',  '33990000', '32990000', '35990000', '30490000', '22990000', '17990000', '14890000',
       '21990000', '10990000', '11490000', '10490000', '7230000', '8500000', '6490000', '5490000', '5750000', '5290000', '4890000',
       '4990000', '7290000','3990000', '24990000', '2500000', '19400000', '15900000', '11400000', '13990000', '14690000', '14790000', '20490000','5590000'])]
index_row = drop_row.index
index_row

Index([3748, 4044, 4047, 4048, 4052, 4063, 4066, 4072, 4079, 4089, 4091, 4102,
       4116, 4119, 4122, 4123, 4135, 4137, 4142, 4147, 4159, 4167, 4172, 4181,
       4196, 4413, 4438, 4522, 4550, 4589, 4612, 4637, 4694, 4701, 4759, 6228,
       7002, 7003, 7004, 7015, 7017, 7020, 7034, 7041, 7044, 7053, 7116, 7196],
      dtype='int32')

In [6]:
data_drop = data_final.drop(index_row)
data_drop

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
1,quần áo,35891,64.0,3000.0,1022.0,Hồ Chí Minh,100000.0,16500.0,97.0,100.0,100.0,20.0,7.0,27.0,36.0,932.0
2,quần áo,25000,50.0,907.0,241.0,Hồ Chí Minh,71998.0,16500.0,91.0,100.0,50.0,5.0,2.0,6.0,7.0,222.0
3,quần áo,79000,43.0,961.0,260.0,Hà Nội,139000.0,32700.0,92.0,99.0,33.0,11.0,8.0,8.0,16.0,218.0
4,quần áo,36000,60.0,102.0,21.0,Nam Định,189000.0,37700.0,94.0,100.0,83.0,1.0,0.0,1.0,1.0,18.0
5,quần áo,15971,54.0,219.0,68.0,Hà Nội,59000.0,32700.0,95.0,100.0,100.0,0.0,1.0,0.0,3.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,tivi,7990000,NaN,20.0,8,Binh Duong,NaN,NaN,96,100.0,100.0,0.0,0.0,0.0,0.0,9.0
7197,tivi,2730000,NaN,NaN,NaN,Ho Chi Minh,NaN,38000.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
7198,tivi,6150000,NaN,NaN,NaN,Ho Chi Minh,9990000.0,NaN,97,98.0,89.0,0.0,0.0,0.0,0.0,0.0
7199,tivi,4250000,NaN,NaN,NaN,Ha Noi,4990000.0,135500.0,100,40.0,NaN,0.0,0.0,0.0,0.0,0.0
7200,tivi,2650000,NaN,NaN,NaN,Ho Chi Minh,NaN,45100.0,100,NaN,50.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#Kiểm tra lại 
data_drop['Location'].unique()

array(['Hồ Chí Minh', 'Hà Nội', 'Nam Định', 'Nước ngoài', 'Tiền Giang',
       'Cần Thơ', 'Hà Nam', 'Trà Vinh', 'Thanh Hóa', 'Hưng Yên',
       'Long An', 'Bến Tre', 'Phú Thọ', 'Lâm Đồng', 'Đồng Nai',
       'Hải Dương', 'Cà Mau', 'Bắc Giang', 'Quảng Ngãi', 'Tây Ninh',
       'Bình Định', 'Phú Yên', 'Bình Dương', 'Bắc Ninh', 'Đà Nẵng',
       'Vĩnh Phúc', 'Ho Chi Minh', 'Ha Noi', 'Hai Duong', 'Nghệ An',
       'Binh Duong', 'Hung Yen', 'Hai Phong', 'Da Nang', 'An Giang',
       'Bac Ninh', 'Ben Tre', 'Vinh Phuc', 'Nam Dinh', 'Tien Giang',
       'Dak Nong', 'Thai Binh', 'Dak Lak', 'Hanoi', 'Dong Nai',
       'Thai Nguyen', 'Quang Tri', 'Thanh Hoa', 'Tay Ninh', 'Nuoc Ngoai',
       'Phu Tho', 'Nuoc ngai', 'Thua Thien Hue', 'Thái Bình', 'Dong Thap',
       'Ha Tinh', 'Phu Yen', 'Ba Ria Vung Tau', 'Bac Giang', 'Vinh Long',
       'Quang Nam'], dtype=object)

In [8]:
#Convert to "Final_Data_LLM.csv" file
data_drop.to_csv("Data_After_LLM.csv", index=False)