In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Tivi.csv")
data.head(3)

,Type,Title,Link,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Return,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,tivi,[NEW MODEL 2024] QLED TIVI 4K SAMSUNG 85 INCH ...,https://www.lazada.vn/products/new-model-2024-...,64.690.000 ₫,6% Off,NaN,NaN,Hồ Chí Minh,68.790.000 ₫,NaN,NaN,100%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['0']
1,tivi,GIAO HÀ NỘI - Smart Tivi Casper 4K 50 inch 50U...,https://www.lazada.vn/products/giao-ha-noi-sma...,5.389.000 ₫,46% Off,130 Đã bán,(6),Hà Nội,9.890.000 ₫,NaN,NaN,100%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['6']
2,tivi,Thanh lý TIVI TOSHIBA 24inch đầy đủ cổng kết n...,https://www.lazada.vn/products/thanh-ly-tivi-t...,920.486 ₫,3% Off,77 Đã bán,(26),Hà Nội,950.000 ₫,115.100 ₫,NaN,91%,95%,92%,['0'],['0'],['0'],['2'],['24']

In [4]:
#Check missing value
data.isnull().sum().sort_values(ascending=False)

Return            707
Ship_price        474
Total_sold        458
Preview           414
Sale_off          388
Price_original    307
Chat_response      15
Sale_rating        15
Ship_on_time       15
Four_star           0
Three_star          0
Two_star            0
One_star            0
Type                0
Title               0
Location            0
Price_sale          0
Link                0
Five_star           0
dtype: int64

- Remove the columns **Title** & **Link** because they are not necessary.
- Remove columns **Return** because:
    * it has too many NULL values, nearly 50% of the total data.
    * it is not relevant to the hypothesis being used.

In [5]:
#Drop Title, Link, Return
new_data = data.drop(columns=['Title', 'Link', 'Return'], axis=1)
new_data.head(3)

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,tivi,64.690.000 ₫,6% Off,NaN,NaN,Hồ Chí Minh,68.790.000 ₫,NaN,100%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['0']
1,tivi,5.389.000 ₫,46% Off,130 Đã bán,(6),Hà Nội,9.890.000 ₫,NaN,100%,Không đủ thông tin,100%,['0'],['0'],['0'],['0'],['6']
2,tivi,920.486 ₫,3% Off,77 Đã bán,(26),Hà Nội,950.000 ₫,115.100 ₫,91%,95%,92%,['0'],['0'],['0'],['2'],['24']

In [6]:
#Display the unique values of columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['100%' '91%' 'Nhà bán hàng mới' '86%' 'Không đủ thông tin' '94%' '99%'
 '97%' '85%' '96%' '92%' '98%' '78%' nan '83%' '93%' '95%']

['Không đủ thông tin' '95%' '97%' '100%' '93%' '50%' '96%' '94%' '92%'
 '85%' '90%' '40%' nan '99%' '98%' '75%' '88%' '82%' '71%' '63%']

['100%' '92%' '66%' 'Không đủ thông tin' '36%' '99%' '86%' '55%' '60%'
 '94%' '93%' '65%' '84%' '75%' '97%' '80%' '50%' nan '96%' '33%' '95%'
 '70%' '81%' '98%' '83%' '89%' '57%' '78%' '88%' '52%']

In [7]:
new_data['Sale_rating'].replace(['Nhà bán hàng mới', 'Không đủ thông tin'], np.nan, inplace=True)
new_data['Ship_on_time'].replace(['Không đủ thông tin'], np.nan, inplace=True)
new_data['Chat_response'].replace(['Không đủ thông tin'], np.nan, inplace=True)

In [8]:
#Check columns: Sale_rating, Ship_on_time, và Chat_response
unique_sale_rating = new_data['Sale_rating'].unique()
unique_ship_on_time = new_data['Ship_on_time'].unique()
unique_chat_response = new_data['Chat_response'].unique()

print(unique_sale_rating, "\n")
print(unique_ship_on_time, "\n")
print(unique_chat_response, "\n")

['100%' '91%' nan '86%' '94%' '99%' '97%' '85%' '96%' '92%' '98%' '78%'
 '83%' '93%' '95%']

[nan '95%' '97%' '100%' '93%' '50%' '96%' '94%' '92%' '85%' '90%' '40%'
 '99%' '98%' '75%' '88%' '82%' '71%' '63%']

['100%' '92%' '66%' nan '36%' '99%' '86%' '55%' '60%' '94%' '93%' '65%'
 '84%' '75%' '97%' '80%' '50%' '96%' '33%' '95%' '70%' '81%' '98%' '83%'
 '89%' '57%' '78%' '88%' '52%']

In [9]:
# Hàm để loại bỏ ký tự không mong muốn và lấy giá trị bên trong
def extract_number(val):
    if isinstance(val, str):
        return val.strip("[]'")  # loại bỏ các ký tự không mong muốn
    return val

# Áp dụng hàm extract_number cho từng cột
for column in new_data.columns[11:16]:
    new_data[column] = new_data[column].apply(extract_number)

In [10]:
new_data

,Type,Price_sale,Sale_off,Total_sold,Preview,Location,Price_original,Ship_price,Sale_rating,Ship_on_time,Chat_response,One_star,Two_star,Three_star,Four_star,Five_star
0,tivi,64.690.000 ₫,6% Off,NaN,NaN,Hồ Chí Minh,68.790.000 ₫,NaN,100%,NaN,100%,0,0,0,0,0
1,tivi,5.389.000 ₫,46% Off,130 Đã bán,(6),Hà Nội,9.890.000 ₫,NaN,100%,NaN,100%,0,0,0,0,6
2,tivi,920.486 ₫,3% Off,77 Đã bán,(26),Hà Nội,950.000 ₫,115.100 ₫,91%,95%,92%,0,0,0,2,24
3,tivi,3.989.000 ₫,50% Off,NaN,NaN,Hà Nội,7.990.000 ₫,NaN,NaN,NaN,100%,0,0,0,0,0
4,tivi,4.689.000 ₫,41% Off,16 Đã bán,NaN,Hà Nội,7.900.000 ₫,NaN,100%,NaN,100%,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,tivi,5.390.000 ₫,"LazFlash Sale,kết thúc sau 1 ngày",34 Đã bán,(9),Hồ Chí Minh,5.590.000 ₫,Miễn phí,96%,100%,100%,2,0,0,0,7
1196,tivi,2.730.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,38.000 ₫,NaN,NaN,NaN,0,0,0,0,0
1197,tivi,6.150.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,9.990.000 ₫,NaN,97%,98%,89%,0,0,0,0,0
1198,tivi,4.250.000 ₫,NaN,NaN,NaN,Hà Nội,4.990.000 ₫,135.500 ₫,100%,40%,NaN,0,0,0,0,0
1199,tivi,2.650.000 ₫,NaN,NaN,NaN,Hồ Chí Minh,NaN,45.100 ₫,100%,NaN,50%,0,0,0,0,0

In [11]:
#Convert to csv
new_data.to_csv("Preprocessing_Tivi.csv", index=False)