In [3]:
import pandas as pd

In [4]:
#List of CSV file to combined
csv_files = [
    'lazada.csv',
    'lazada_1.csv',
    'lazada_2.csv',
    'lazada_3.csv',
    'lazada_4.csv',
    'lazada_5.csv',
    'lazada_6.csv',
    'lazada_7.csv'
]

#Read and combine CSV files into a DataFrame
combined_df = pd.concat([pd.read_csv(file) for file in csv_files])
combined_df = combined_df.drop(columns=(['Unnamed: 0']))
combined_df.head(3)

,Type,Title,Links,Price,Discount_percent,Sold,Preview,Location,Original,Ship_price,Return,Positive_review,Ship_on_time,Rate_response,One_star,Two_star,Three_star,Four_star,Five_star
0,quần áo,Đồ Bộ Nữ Đi Chơi Chất Thun Mát Size M - dưới 5...,https://www.lazada.vn/products/do-bo-nu-di-cho...,35.891 ₫,64% Off,3.0K Đã bán,(1022),Hồ Chí Minh,100.000 ₫,16.500 ₫,3 ngày trả hàng cho Nhà bán hàng,97%,100%,100%,20.0,7.0,27.0,36.0,932.0
1,quần áo,Đồ ngủ nữ pijama mặc nhà bộ ngủ hoạt hình cộc ...,https://www.lazada.vn/products/do-ngu-nu-pijam...,25.000 ₫,50% Off,907 Đã bán,(241),Hồ Chí Minh,71.998 ₫,16.500 ₫,3 ngày trả hàng cho Nhà bán hàng,91%,100%,50%,5.0,2.0,6.0,7.0,222.0
2,quần áo,[Đủ size 35-55 cân] Sét bộ 3 món áo 2 dây+áo c...,https://www.lazada.vn/products/du-size-35-55-c...,79.000 ₫,43% Off,961 Đã bán,(260),Hà Nội,139.000 ₫,32.700 ₫,3 ngày trả hàng cho Nhà bán hàng,92%,99%,33%,11.0,8.0,8.0,16.0,218.0

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 119
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Type              1200 non-null   object
 1   Title             1200 non-null   object
 2   Links             1200 non-null   object
 3   Price             1200 non-null   object
 4   Discount_percent  1145 non-null   object
 5   Sold              1169 non-null   object
 6   Preview           1163 non-null   object
 7   Location          1200 non-null   object
 8   Original          1135 non-null   object
 9   Ship_price        1066 non-null   object
 10  Return            1184 non-null   object
 11  Positive_review   1185 non-null   object
 12  Ship_on_time      1187 non-null   object
 13  Rate_response     1187 non-null   object
 14  One_star          1112 non-null   float64
 15  Two_star          1112 non-null   float64
 16  Three_star        1112 non-null   float64
 17  Four_star         1112 non-null   float64
 18  Five_star         1112 non-null   float64
dtypes: float64(5), object(14)
memory usage: 187.5+ KB

In [6]:
#Rename colums
combined_df = combined_df.rename(columns={
    'Links': 'Link',
    'Price': 'Price_sale',
    'Discount_percent': 'Sale_off',
    'Sold': 'Total_sold',
    'Original': 'Price_original',
    'Positive_review': 'Sale_rating',
    'Rate_response': 'Chat_response'
})

combined_df.to_csv("quanao.csv", index=False)