In [1]:
import pandas as pd

In [2]:
#List of CSV file to combined
csv_files = [
    'lazada1.csv',
    'lazada1_1.csv',
    'lazada1_2.csv',
    'lazada1_3.csv',
    'lazada1_4.csv',
    'lazada1_5.csv',
    'lazada1_6.csv',
    'lazada1_7.csv',
    'lazada1_8.csv',
    'lazada1_9.csv'
]

#Read and combine CSV files into a DataFrame
combined_df = pd.concat([pd.read_csv(file) for file in csv_files])
combined_df = combined_df.drop(columns=(['Unnamed: 0']))
combined_df.head(3)

,Type,Title,Links,Price,Discount_percent,Sold,Preview,Location,Original,Ship_price,Return,Positive_review,Ship_on_time,Rate_response,One_star,Two_star,Three_star,Four_star,Five_star
0,giày dép,Xăng đan diwa lốp nhún bèo cho nữ dành cho ngư...,https://www.lazada.vn/products/xang-dan-diwa-l...,174 ₫,NaN,494 Đã bán,NaN,Nước ngoài,NaN,NaN,Không áp dụng chính sách bảo hành,Không đủ thông tin,Không đủ thông tin,Không đủ thông tin,0.0,0.0,0.0,0.0,0.0
1,giày dép,Summer Thick Sole Roman Women'S Sandals,https://www.lazada.vn/products/summer-thick-so...,371 ₫,40% Off,319 Đã bán,NaN,Nước ngoài,618 ₫,17.000 ₫,Không áp dụng chính sách bảo hành,Không đủ thông tin,Không đủ thông tin,Không đủ thông tin,0.0,0.0,0.0,0.0,0.0
2,giày dép,(Giá tận xưởng) Dép chữ C unisex nam nữ bền đẹ...,https://www.lazada.vn/products/gia-tan-xuong-d...,32.000 ₫,54% Off,83 Đã bán,(20),Hồ Chí Minh,69.000 ₫,16.500 ₫,3 ngày trả hàng cho Nhà bán hàng,93%,92%,100%,0.0,0.0,1.0,0.0,19.0

In [3]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, 0 to 119
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Type              1200 non-null   object
 1   Title             1200 non-null   object
 2   Links             1200 non-null   object
 3   Price             1200 non-null   object
 4   Discount_percent  1093 non-null   object
 5   Sold              1130 non-null   object
 6   Preview           1103 non-null   object
 7   Location          1200 non-null   object
 8   Original          1016 non-null   object
 9   Ship_price        777 non-null    object
 10  Return            1115 non-null   object
 11  Positive_review   1115 non-null   object
 12  Ship_on_time      1117 non-null   object
 13  Rate_response     1117 non-null   object
 14  One_star          1076 non-null   float64
 15  Two_star          1076 non-null   float64
 16  Three_star        1076 non-null   float64
 17  Four_star         1076 non-null   float64
 18  Five_star         1076 non-null   float64
dtypes: float64(5), object(14)
memory usage: 187.5+ KB

In [4]:
#Rename colums
combined_df = combined_df.rename(columns={
    'Links': 'Link',
    'Price': 'Price_sale',
    'Discount_percent': 'Sale_off',
    'Sold': 'Total_sold',
    'Original': 'Price_original',
    'Positive_review': 'Sale_rating',
    'Rate_response': 'Chat_response'
})

combined_df.to_csv("giaydep.csv", index=False)